<ul class="scale-link-container">
  <li class="scale-link">
  <%= link_to "Diatonic", "/scales/diatonic"%>
  </li>
  <li class="scale-link">
  <%= link_to "Soft Chromatic", "/scales/soft_chromatic"%>
  </li>
  <li class="scale-link">
  <%= link_to "Hard Chromatic", "/scales/hard_chromatic"%>
  </li>
  <li class="scale-link">
  <%= link_to "Enharmonic", "/scales/enharmonic"%>
  </li>
</ul>

