

<ul class="scale-link-container">
  <li class="link-list-item">
  <%= link_to "Diatonic", scales_diatonic_path, class: "basic-link"%>
  </li>
  <li class="link-list-item">
  <%= link_to "Soft Chromatic", scales_soft_chromatic_path, class: "basic-link"%>
  </li>
  <li class="link-list-item">
  <%= link_to "Hard Chromatic", scales_hard_chromatic_path, class: "basic-link"%>
  </li>
  <li class="link-list-item">
  <%= link_to "Enharmonic", scales_enharmonic_path, class: "basic-link"%>
  </li>
</ul>

<h3 id="scale-links-title">Interactive Scales</h3>