

<ul class="scale-link-container">
  <li class="link-list-item">
  <%= link_to "Diatonic", "/scales/diatonic", class: "basic-link"%>
  </li>
  <li class="link-list-item">
  <%= link_to "Soft Chromatic", "/scales/soft_chromatic", class: "basic-link"%>
  </li>
  <li class="link-list-item">
  <%= link_to "Hard Chromatic", "/scales/hard_chromatic", class: "basic-link"%>
  </li>
  <li class="link-list-item">
  <%= link_to "Enharmonic", "/scales/enharmonic", class: "basic-link"%>
  </li>
</ul>

<h3 id="scale-links-title">Interactive Scales</h3>