// Place all the styles related to the Scales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  font-family: 'Baskervville', serif;
}

#scale-links-title {
  margin: 20px auto;
  border-top: 1px solid gray;
  width: 800px;
  font-family: 'Baskervville', serif;
  text-align: center;
  font-size: 20px;

}

.scale-name-container {
  position: relative;
  margin: 30px auto 0 auto;
  border-bottom: 3px solid black;
  width: 800px;
  text-align: center;
}

#link-to-scales {
  display: block;
  position: absolute;
  left: -20px;
  width: 100px;
  height: 50px;
  background-color: rgb(160, 4, 4);
  color: white;
}

#scale-name {
  display: inline-block;
  text-align: center;
  font-weight: 400;
  font-size: 50px;
  
}



.scale-link-container {
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: space-around;
  grid-gap: 10px;
  max-width: 800px;
  margin: 50px auto 0 auto;
  
  
}

.link-list-item {
  list-style: none;
}


.basic-link {
  display: block;
  height: 50px;
  width: 180px;
  background-color: goldenrod;
  border-radius: 7px;
  box-shadow: 0 0 7px #5a545a;
  color: black;
  font-family: 'Baskervville', serif;
  text-align: center;
  line-height: 50px;
  font-size: 23px;
  font-weight: 200;
}

.basic-link:focus {
  box-shadow: 0 0 0;
}


.basic-link:hover {
  cursor: pointer;
}



.interactive-scale {
  background-color: goldenrod;
  box-shadow: 0 0 7px rgb(90, 84, 90);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(9, 70px);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  width: 800px;
  height: 220px;
  margin: 10px auto 30px auto;
  
  
}

#arrow-explanation {
  grid-column: 1 / 6;
  grid-row: 4 / 5;
  font-size: 14px;
}

#how-to-use {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  font-size: 14px;
}

#how-to-use-soft {
  grid-column: 6 / 11;
  grid-row: 1 / 2;
  font-size: 14px;
}

.note {
  font-weight: 700;
  font-size: 30px;
  color: black;
  width: 70px;
  border: 5px solid black;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-row: 2 / span 2;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.alt-1 {
  grid-row: 3 / span 2;
}

.alt-2 {
  grid-row: 1 / span 2;
}

.alt-3 {
  grid-row: 1 / span 1;
}

#Fsharp3down {
  grid-column: 4;
}

.note:hover {
  background-color: #ecc666;
  
  cursor: pointer;
}






